<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/favicon.jpg" sizes="16x16" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Computer Science Club</h1>
        <nav>
            <ul>
                <li><a href="/" class="btn">Home</a></li>
		<li><a href="/announcements/" class="btn">Announcements</a></li>
		<li><a href="/updates/" class="btn">Updates</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2024 Abelard School Computer Science Club. All rights reserved.</p>
    </footer>
    <script src="/assets/script.js"></script>
</body>
</html>
